
:root{
    --lightpink: lightpink;
    --lightblue : lightblue;
    --black: black;
    --lightgray: lightgray;
    --purple: purple;
    --brightblue: rgb(70, 70, 224);
}
*{
    background-color: var(--lightpink);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 24px;
    color: var(--lightpink);
    background-color: transparent;
}
h2{
    font-size: 18px;
    color: var(--black);
    background-color: transparent;
}
h3{
    font-size: 14px;
    color: var(--black);
    background-color: transparent;
}
p{
    font-size: 14px;
    background-color: transparent;
    /* color: var(--black); */
}
a{
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
}
a:visited{
    color: var(--purple);
}

/* About-Us */

.about-us-parent{
    display: flex;
}
.about-us-left-child{
    width: 50%;
    flex: 1;
    margin: 10px;
}
.aboutus{
    border: 1px solid var(--black);
    background-color: var(--lightgray);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
.about-us-right-child{
    flex: 1;
    border: 1px solid var(--black);
    background-color: var(--lightgray);
    width: 50%;
    margin: 10px;
    padding: 10px;
    height: 200px;
    text-align: center;
}

.footer{
    bottom: 5px;
}

/* Why Join */
.why-join-parent{
    margin: 10px;
}
.aboutus{
    border: 1px solid var(--black);
    background-color: var(--lightgray);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}